//mixins
@mixin shadow ($x, $y, $z, $color) {
  -moz-box-shadow: $x $y $z $color;
  -webkit-box-shadow: $x $y $z $color;
  box-shadow: $x $y $z $color;
}

@mixin transition ($position, $time, $timingFunction, $opacity, $duration, $durationFunction) {
  -webkit-transition: $position $time $timingFunction, $opacity $duration $durationFunction;
  -moz-transition: $position $time $timingFunction, $opacity $duration $durationFunction;
  transition: $position $time $timingFunction, $opacity $duration $durationFunction;
}