//variables
$fontSize: 12px;
$fontColor: #fff;
$backgroundColor: lighten(#3f618c, 25%);
$radius: 5px;
$colorShadow: rgba(0, 0, 0, 0.3);
$align: center;
$transitionDuration: .25s;
$transitionFunction: ease-in-out;
$transitionProperty: opacity;